[package]
name = "timber-notan"
version = "0.1.0"
edition = "2024"

[dependencies]
notan = { version = "0.13.0", features = ["draw", "audio"] }

[profile.release]
opt-level = "z"
lto = "fat"
codegen-units = 1
panic = "abort"
strip = true
